{% extends 'base.html' %}

<!-- loading static -->


{% block static %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'accounts/css/sign_up.css' %}">

<!-- loading of other resources -->
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

{% endblock %}

{% block html %}
<div class="container">
    <div class="col-md-6 mx-auto text-center">
        <div class="header-title">
            <h1 class="wv-heading--title">
               Discourse - Sign Up
            </h1>
            <h2 class="wv-heading--subtitle">
               Discuss different topics with the whole world!
            </h2>
        </div>
    </div>
        <div class="row">
            <div class="col-md-4 mx-auto">
                <div class="myform form ">
                    <form method="post" id='post_form'>
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="text" name="first_name"  class="form-control my-input" id="first_name" placeholder="First name">
                        </div>
                        <div class="form-group">
                            <input type="text" name="second_name"  class="form-control my-input" id="name" placeholder="Second name">
                        </div>
                        <div class="form-group">
                            <input type="email" name="email"  class="form-control my-input" id="email" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <input type="date" id="date" name="date_of_birth" class="form-control my-input" placeholder="Date of birth">
                        </div>
                        <div class="form-group">
                            <select name="country" class="form-control my-input" id="country_list_select" placeholder="Country">
                                <option value="" disabled selected hidden>Choose the country where are you from</option>
                                <option v-for="country in countries_list" id='countries_list' v-cloak> {% verbatim %} {{ country.name }} {% endverbatim %}
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <select name="sex" class="form-control my-input" id="sex_select">
                                <option value="" disabled selected hidden>Choose your sex</option>
                                <option id='male_sex_select'> Male </option>
                                <option id='female_sex_select'> Female </option>
                                <option id='other_sex_select'> Other </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="password" placeholder="Password" class="form-control my-input" name="password">
                        </div>
                        <div class="form-group">
                            <input type="password" placeholder="Confirm password" class="form-control my-input" name="password2">
                        </div>
                        <div class="text-center ">
                            <input type="submit" class=" btn btn-block send-button tx-tfm" name="Sign Up">
                        </div>
                        <div class="col-md-12 ">
                            <div class="login-or">
                                <hr class="hr-or">
                                <span class="span-or">or</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <a class="btn btn-block g-button" href="#">
                                <i class="fa fa-google"></i> Sign up with Google
                            </a>
                        </div>
                        <p class="small mt-3">By signing up, you are indicating that you have read and agree to the <a href="#" class="ps-hero__content__link">Terms of Use</a> and <a href="#">Privacy Policy</a>.
                        </p>
                    </form>
                </div>
            </div>
        </div>
</div>

<script type="text/javascript">

    let vm = new Vue({
        el: '#country_list_select',
        data () {
            return {
                countries_list: null
            }
        },
        mounted() {
            axios.get("{% url 'accounts:get-countries' %}", {
            }).then(response => (this.countries_list = response.data))
        },
    });

</script>

{% endblock %}