{% extends 'base.html' %}

<!-- loading static -->


{% block static %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'accounts/css/sign_up_sign_in.css' %}">

<!-- loading of other resources -->
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

{% endblock %}

{% block html %}
<div id='sign_up_page'>
    <div class="container" v-cloak>
        <div class="col-md-6 mx-auto text-center">
            <div class="header-title">
                <h1 class="wv-heading--title">
                   Discourse - Sign Up
                </h1>
                <h2 class="wv-heading--subtitle">
                   Discuss different topics with the whole world!
                </h2>
            </div>
        </div>
            <div class="row">
                <div class="col-md-4 mx-auto">
                    <div class="myform form ">
                        <div class="alert alert-info" role="alert">
                            The fields that have '*' mark are must be filled
                        </div>
                        <form method="post" id='post_form' @submit.prevent="onSubmit">
                            {% csrf_token %}
                            <div class="form-group">
                                <p style="color: red;" v-show='first_name_error'>* [[ first_name_error ]]</p>
                                <input type="text" name="first_name"  class="form-control my-input" id="first_name" placeholder="*First name" v-model='first_name'>
                            </div>
                            <div class="form-group">

                                <p style="color: red;" v-show='second_name_error'>* [[ second_name_error ]]</p>
                                <input type="text" name="second_name"  class="form-control my-input" id="name" placeholder="*Second name" v-model='second_name'>
                            </div>
                            <div class="form-group">
                                <label for="file">Set avatar</label>

                                <p style="color: red;" v-show='image_error'>* [[ image_error ]]</p>
                                <input type="file" name="image_of_topic" class="form-control btn btn-dark" id="image_of_topic" placeholder="image_of_topic" v-on:change="file_uploaded" ref='image_of_topic'>

                                <div v-show="user_image_src" style="padding-top: 5%;">
                                    <img v-bind:src="user_image_src" alt="Image of your topic" class="img-thumbnail">
                                </div>
                            </div>
                            <hr>
                            <div class="form-group">
                                <p style="color: red;" v-show='email_error'>* [[ email_error ]]</p>
                                <input type="email" name="email"  class="form-control my-input" id="email" placeholder="*Email" v-model='email'>
                            </div>
                            <div class="form-group">
                                <p style="color: red;" v-show='date_of_birth_error'>* [[ date_of_birth_error ]]</p>
                                <input type="date" id="date" name="date_of_birth" class="form-control my-input" placeholder="*Date of birth" v-model='date_of_birth'>
                            </div>
                            <div class="form-group">
                                <p style="color: red;" v-show='country_error'>* [[ country_error ]]</p>
                                <select name="country" class="form-control my-input" id="country_list_select" placeholder="Country" v-model='country'>
                                    <option disabled selected> Choose the country where are you from</option>
                                    <option v-for="country in countries_list" id='countries_list' v-cloak> [[ country.name ]]
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <p style="color: red;" v-show='sex_error'>* [[ sex_error ]]</p>
                                <select name="sex" class="form-control my-input" id="sex_select" v-model='sex'>
                                    <option value="" disabled selected>*Choose your sex</option>
                                    <option id='male_sex_select'> Male </option>
                                    <option id='female_sex_select'> Female </option>
                                    <option id='other_sex_select'> Other </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <p style="color: red;" v-show='password_error'>* [[ password_error ]]</p>
                                <input type="password" placeholder="*Password" class="form-control my-input" name="password" v-model='password'>
                            </div>
                            <div class="form-group">
                                <p style="color: red;" v-show='password2_error'>* [[ password2_error ]]</p>
                                <input type="password" placeholder="*Confirm password" class="form-control my-input" name="password2" v-model='password2'>
                            </div>
                            <div class="text-center ">
                                <input type="submit" class=" btn btn-block send-button tx-tfm" name="Sign Up">
                            </div>
                            <div class="col-md-12 ">
                                <div class="login-or">
                                    <hr class="hr-or">
                                    <span class="span-or">or</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <a class="btn btn-block g-button" href="{% url 'accounts:sign-in'%}">
                                    <i class="fa fa-sign-in"></i> Sign in
                                </a>
                            </div>
                            <p class="small mt-3">By signing up, you are indicating that you have read and agree to the <a href="#" class="ps-hero__content__link">Terms of Use</a> and <a href="#">Privacy Policy</a>.
                            </p>
                        </form>
                    </div>
                </div>
            </div>
    </div>
</div>

<script type="text/javascript">
    let reg_user_url = '{{ reg_user_url }}';
    let success_url = '{{ success_url }}';
    let vm = new Vue({
        delimiters: ["[[", "]]"],
        el: '#sign_up_page',
        data () {
            return {
                first_name: null,
                second_name: null,
                email: null,
                date_of_birth: null,
                country: null,
                sex: null,
                password: null,
                password2: null,

                file: null,
                user_image_src: null,

                first_name_error:null,
                second_name_error: null,
                email_error: null,
                date_of_birth_error: null,
                country_error: null,
                sex_error: null,
                password_error: null,
                password2_error: null,
                image_error: null,

                countries_list: null
            }
        },
        mounted() {
            axios.get("{% url 'accounts:get-countries' %}", {
            }).then(response => (this.countries_list = response.data))
        },
        methods:{
            file_uploaded: function(){
                var file = this.$refs.image_of_topic.files[0];
                this.file = file
                var file_url = URL.createObjectURL(file);
                this.user_image_src = file_url
            },
            success_way: function(){
                window.location.replace(success_url);
            },
            unsuccess_way: function(data){
                if ('first_name' in data){
                    this.first_name_error = data['first_name'][0]
                } else {
                    this.first_name_error = null
                }

                if ('second_name' in data){
                    this.second_name_error = data['second_name'][0]
                } else {
                    this.second_name_error = null
                }

                if ('email' in data){
                    this.email_error = data['email'][0]
                } else {
                    this.email_error = null
                }
                if ('date_of_birth' in data){
                    this.date_of_birth_error = data['date_of_birth'][0]
                } else {
                    this.date_of_birth_error = null
                }

                if ('country' in data){
                    this.country_error = data['country'][0]
                } else {
                    this.country_error = null
                }

                if ('sex' in data){
                    this.sex_error = data['sex'][0]
                } else {
                    this.sex_error = null
                }

                if ('password' in data){
                    this.password_error = data['password'][0]
                } else {
                    this.password_error = null
                }
                if ('password2' in data){
                    this.password2_error = data['password2'][0]
                } else {
                    this.password2_error = null
                }
                if ('avatar' in data){
                    this.image_error = data['avatar'][0]
                } else{
                    this.image_error = ''
                }

            },
            onSubmit: function(){

                var self = this;
                let formData = new FormData();

                if (!(this.country)){
                    this.country_error = "This field can't be empty"
                }

                if (!(this.sex)){
                    this.sex_error = "This field can't be empty"
                }


                return;

                formData.append('first_name', this.first_name);
                formData.append('second_name', this.second_name)
                formData.append('email', this.email)
                formData.append('date_of_birth', this.date_of_birth)
                formData.append('country', this.country)
                formData.append('sex', this.sex)
                formData.append('password', this.password)
                formData.append('password2', this.password2)
                formData.append('avatar', this.file)
                formData.append('csrfmiddlewaretoken', '{{ csrf_token }}')
                axios.post(reg_user_url,
                    formData,
                    {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    }
                ).then(function(response){
                    var data = response.data;
                    console.log(data)
                    if (data['status'] === 'OK'){
                        self.success_way()
                    } else{
                        self.unsuccess_way(data)
                    }
                })
            }
        }
    });

</script>

{% endblock %}