{% extends 'base.html' %}

<!-- loading static -->


{% block static %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'discourse/css/detail.css' %}">

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% endblock %}

{% block html %}
<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-6 offset-md-3" id="timeline-discourse">
            <h2>[[ topic.topic ]]</h2> 
            <ul class="timeline">
                <li v-for="comment in comments.keys()">
                    <a target="_blank"><b>[[ comments[comment].author ]]</b></a>
                    <a href="#" class="float-right">[[ comments[comment].timestamp ]]</a>
                    <p id='text_of_comments'>[[ comments[comment].text ]]</p>
                    <span v-on:click='onLike([[ comment ]],[[comments[comment].send_like_api]], [[ comments[comment].unlike_comment_api ]]), comments[comment].who_liked'> Likes [[ comments[comment].likes ]]</span>
                </li>
            </ul>
            {% if user.is_authenticated %}
            <div id='sep'>
                <hr>
            </div>
            <div id='comment-field'>
                <form id='send_comment_form' method="post" @submit.prevent="onSubmit">
                    {% csrf_token %}
                    <textarea class="form-control" name='text' id='text' v-model="text"></textarea>
                    <div id='submit_button'>
                        <input type='submit' id='submit_button' value='Go'class="btn btn-dark">
                    </div>
                </form>
            </div>
            {% endif %}
        </div>
    </div>
</div>

<div class="text-muted mt-5 mb-5 text-center small">by : <a class="text-muted" target="_blank" href="http://totoprayogo.com">totoprayogo.com</a></div>

<script type="text/javascript">

    var topic_info_api = '{{ info }}';
    var comments_api = '{{ comments }}';
    var send_comment_api = '{{ send_comment_link }}';
    var current_user = '{{ request.user }}';

    vm = new Vue({
        delimiters: ["[[", "]]"],
        el: '#timeline-discourse',
        data:{
            topic: null,
            comments: null,
            text: null,
            comments_and_likes: {},
        },
        mounted(){
            axios.get(topic_info_api).then(response => (this.topic = response.data))
            this.get_comments();

        },
        methods:{
            onLike: function(id, send_like_api, unlike_comment_api, who_liked){
                if (current_user === this.comments[id].who_liked){
                     $.ajax({
                        type: "POST",
                        data: {'csrfmiddlewaretoken': '{{ csrf_token }}',},
                        url: unlike_comment_api,
                        dataType: 'json',
                    })

                    this.comments[id]['likes'] -= 1
                    this.comments[id]['who_liked'] = ''

                } else {
                    $.ajax({
                        type: "POST",
                        data: {'csrfmiddlewaretoken': '{{ csrf_token }}',},
                        url: send_like_api,
                        dataType: 'json',
                    })
                    this.comments[id]['likes'] += 1
                    this.comments[id]['who_liked'] = current_user
                }
            },
            get_comments: function(return_=false){
                self = this
                new_comments = $.ajax({
                    type: "GET",
                    async:false,
                    url: comments_api,
                    dataType: 'json',
                    success: function(data){
                        self.comments = data
                    }
                })
            },
            onSubmit: function() {
                new_comments = $.ajax({
                    type: "POST",
                    async:false,
                    url: send_comment_api,
                    data: {"text": this.text , 'csrfmiddlewaretoken': '{{ csrf_token }}', },
                    dataType: 'json',
                })
                this.get_comments()
                this.text = ''
            },
        }

    })    
</script>

{% endblock %}