{% extends 'base.html' %}

<!-- loading static -->


{% block static %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'discourse/css/detail.css' %}">

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

{% endblock %}

{% block html %}
<div class="container mt-5 mb-5">
    <div class="row" id="timeline-discourse">
        <div class="col-md-6 offset-md-3" v-if='comments' v-cloak>
            <h1 style="text-align: center;"> Sphere:
                <span class="badge badge-pill badge-primary">[[ topic.main_sphere_of_topic ]]</span>
            </h1>
            <h2>[[ topic.topic ]]</h2>
            <div v-for="tag in tags" style="display: inline;">
                <span class="badge badge-info" style=" margin-left: 1%;">[[ tag ]] </span>
            </div>
            <ul class="timeline">
                <li v-for="comment in comments.keys()">
                    <a target="_blank" v-bind:href="[[ comments[comment].author_prof_url ]]"><b>[[ comments[comment].author ]]</b></a>
                    <a href="#" class="float-right">[[ comments[comment].timestamp ]]</a>
                    
                    <p id='text_of_comments' v-html='comments[comment].text'></p>

                    {% if request.user.is_authenticated %}
                    <div id='like-possibility'>
                        <span v-if='comments[comment].who_liked'
                              style='color: blue;'
                              v-on:click='onLike([[ comment ]],[[comments[comment].send_like_api]], [[ comments[comment].unlike_comment_api ]]), comments[comment].who_liked'>Likes [[ comments[comment].likes ]]</span>

                        <span v-else
                              v-on:click='onLike([[ comment ]],[[comments[comment].send_like_api]], [[ comments[comment].unlike_comment_api ]]), comments[comment].who_liked'> Likes [[ comments[comment].likes ]]</span>
                    </div>
                    {% else %}
                        <span> Likes [[ comments[comment].likes ]]</span>
                    {% endif %}
                </li>
            </ul>

            {% if user.is_authenticated %}
            <div id='sep'>
                <hr>
            </div>
            {% endif %}
    </div>
    <div v-else id='loader'></div>
        </div>
        {% if user.is_authenticated %}
        <div style="text-align: center, margin-left:15%;">
            
            <div id='comment-field'>
                <form id='send_comment_form' method="post">
                    {% csrf_token %}
                    <!-- <div class="form-control" name='text' id='editor'></div>   -->
                    {{ form.media }}
                    {{ form.text | safe}}

                    <div id='submit_button'>
                        <input type='submit' id='submit_button' value='Go'class="btn btn-dark">
                    </div>
                </form>
            </div>
            
        </div>
        {% endif %}
        </div>
    </div>
</div>

<div class="text-muted mt-5 mb-5 text-center small">by : <a class="text-muted" target="_blank" href="http://totoprayogo.com">totoprayogo.com</a></div>

<script type="text/javascript">

    var topic_info_api = '{{ info }}';
    var comments_api = '{{ comments }}';
    var send_comment_api = '{{ send_comment_link }}';
    var add_view_to_topic_api = '{{ add_view_to_topic_api }}';
    var current_user = '{{ request.user }}';
    var is_user_authenticated = '{{ request.user.is_authenticated }}'

    vm = new Vue({
        delimiters: ["[[", "]]"],
        el: '#timeline-discourse',
        data:{
            topic: null,
            comments: null,
            text: null,
            tags: null,
            comments_and_likes: {},
        },
        mounted(){
            axios.get(topic_info_api)
            .then(response => (this.topic = response.data))
            .then(response => (this.tags = this.topic['tags']))
            this.get_comments();

            if (!(is_user_authenticated === 'False')){
                $.ajax({
                    headers: {
                        'X-CSRFTOKEN': '{{ csrf_token }}'
                    },
                    type: "PATCH",
                    url: add_view_to_topic_api,
                    dataType: 'json',
                        })
            }

        },
        methods:{
            def_val_of_like: function(value){
                return Boolean(value);
            },
            onLike: function(id, send_like_api, unlike_comment_api, who_liked){
                if (current_user === this.comments[id].who_liked){
                     $.ajax({
                        headers: {
                            'X-CSRFTOKEN': '{{ csrf_token }}'
                        },
                        type: "PATCH",
                        url: unlike_comment_api,
                        dataType: 'json',
                    })

                    this.comments[id]['likes'] -= 1
                    this.comments[id]['who_liked'] = ''

                } else {
                    $.ajax({
                        headers: {
                            'X-CSRFTOKEN': '{{ csrf_token }}'
                        },
                        type: "PATCH",
                        url: send_like_api,
                        dataType: 'json',
                    })
                    this.comments[id]['likes'] += 1
                    this.comments[id]['who_liked'] = current_user
                }
            },
            get_comments: function(return_=false){
                self = this
                new_comments = $.ajax({
                    type: "GET",
                    async:false,
                    url: comments_api,
                    dataType: 'json',
                    success: function(data){
                        self.comments = data
                    }
                })
            },
            onSubmit: function() {
                new_comments = $.ajax({
                    type: "POST",
                    async:false,
                    url: send_comment_api,
                    data: {"text": this.text , 'csrfmiddlewaretoken': '{{ csrf_token }}', },
                    dataType: 'json',
                })
                this.get_comments()
                this.text = ''
            },
        }

    })

    $(document).ready(function() {
        $('#send_comment_form').on('submit', function(e){
            e.preventDefault();
            var value_of_rich_editor = CKEDITOR.instances['text_comment__'].getData();
            vm.text = value_of_rich_editor
            vm.onSubmit()
            CKEDITOR.instances['text_comment__'].setData() = ''
            })
    })
</script>

{% endblock %}