{% extends 'base.html' %}

<!-- loading static -->


{% block static %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'discourse/css/detail.css' %}">

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% endblock %}

{% block html %}
<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-6 offset-md-3" id="timeline-discourse">
            <h2>[[ topic.topic ]]</h2> 
            <ul class="timeline">
                <li v-for="comment in comments">
                    <a target="_blank">[[ comment.author ]]</a>
                    <a href="#" class="float-right">[[ comment.timestamp ]]</a>
                    <p>[[ comment.text ]]</p>
                </li>
            </ul>
            <div id='sep'>
                <hr>
            </div>
            <div id='comment-field'>
                <form id='send_comment_form' method="post" @submit.prevent="onSubmit($data)">
                    {% csrf_token %}
                    <textarea class="form-control" name='text' id='text' v-model="text"></textarea>
                    <div id='submit_button'>
                        <input type='submit' id='submit_button' value='Post'class="btn btn-dark">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="text-muted mt-5 mb-5 text-center small">by : <a class="text-muted" target="_blank" href="http://totoprayogo.com">totoprayogo.com</a></div>


<script type="text/javascript">
    topic_info_api = '{{ info }}'
    comments_api = '{{ comments}}'
    send_comment_api = '{{ send_comment_link }}'
    vm = new Vue({
        delimiters: ["[[", "]]"],
        el: '#timeline-discourse',
        data:{
            topic: null,
            comments: null,
            text: null
        },
        mounted(){
            axios.get(topic_info_api).then(response => (this.topic = response.data))
            axios.get(comments_api).then(response => (this.comments = response.data))
        },
        methods:{
            onSubmit: function() {
                new_comments = $.ajax({
                    type: "POST",
                    url: send_comment_api,
                    data: {"text": this.text , 'csrfmiddlewaretoken': '{{ csrf_token }}', },
                    dataType: 'json',
                    success: function(data){
                        if (data.status === 'OK'){
                            res = axios.get(comments_api).then(function(){
                                return response.data
                            })
                        return res
                        }
                    }
                })
            }
        }

    })    


</script>

{% endblock %}