{% extends 'base.html' %}

<!-- loading static -->


{% block static %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'discourse/css/main.css' %}">

<!-- loading of other resources -->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

{% endblock %}

{% block html %}

<div id='topics_main_list'>
    <div class="container" style="padding-top: 5%; align-items: center;">
        <div class="row">
            <div class="[ col-xs-12 col-sm-offset-2 col-sm-8 ]" id='display'>
                <ul class="event-list" id="event-list" v-if="topics">
                    <template v-for="topic in topics">
                        <li id="topic" >
                            <time datetime="2014-07-20">
                                <span class="day">[[ topic.day_of_publication ]]</span>
                                <span class="month">[[ topic.month_of_publication ]]</span>
                                <span class="year">2014</span>
                                <span class="time">ALL DAY</span>
                            </time>
                            <img alt="Independence Day" src="https://farm4.staticflickr.com/3100/2693171833_3545fb852c_q.jpg" />
                            <div class="info">
                                <h2 class="title">[[ topic.topic ]]</h2>
                                <p class="desc">[[ topic.short_description ]]</p>
                                <p class="desc">Author: [[ topic.author ]]</p>
                                <p class="desc">Views: [[ topic.views ]]</p>
                            </div>
                            <div class="social">
                                <ul>
                                    <li class="jump_button" style="width:33%;"><a v-bind:href="[[ topic.self_url ]]"><h1 id='jump_into_into_topic_icon_h'><i class="fa fa-reply-all" aria-hidden="true"></i></h1></a></li>
                                </ul>
                            </div>
                        </li>
                    </template>
                </ul>
                <p v-else>Loading...</p>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    vm = new Vue({
        delimiters: ["[[", "]]"],
        el: '#display',
        data:{
            topics: null
        },
        mounted(){
            axios.get("{% url 'discourse:get-topics-api'%}").then(response => (this.topics = response.data['results']))
        }

    })

    setInterval(function(){
        axios.get("{% url 'discourse:get-topics-api'%}").then(response => (vm.topics = response.data))
    }, 100000);


</script>
{% endblock %}