{% extends 'base.html' %}

<!-- loading static -->


{% block static %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'discourse/css/main.css' %}">

<!-- loading of other resources -->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

{% endblock %}

{% block html %}

<div id='topics_main_list'>
    <div class="container" style="padding-top: 5%; align-items: center;">
        <div class="row">
            <div class="[ col-xs-12 col-sm-offset-2 col-sm-8 ]" id='display'>
                <div v-if="topics">
                    <ul class="event-list" id="event-list" v-if="topics">
                        <template v-for="topic in topics">
                            <li id="topic" >
                                <time datetime="2014-07-20">
                                    <span class="day">[[ topic.day_of_publication ]]</span>
                                    <span class="month">[[ topic.month_of_publication ]]</span>
                                    <span class="year">2014</span>
                                    <span class="time">ALL DAY</span>
                                </time>
                                <img alt="Independence Day" src="https://farm4.staticflickr.com/3100/2693171833_3545fb852c_q.jpg" />
                                <div class="info">
                                    <h2 class="title">[[ topic.topic ]]</h2>
                                    <p class="desc">[[ topic.short_description ]]</p>
                                    <p class="desc">Author: [[ topic.author ]]</p>
                                    <p class="desc">Views: [[ topic.views ]]</p>
                                </div>
                                <div class="social">
                                    <ul>
                                        <li class="jump_button" style="width:33%;"><a v-bind:href="[[ topic.self_url ]]"><h1 id='jump_into_into_topic_icon_h'><i class="fa fa-reply-all" aria-hidden="true"></i></h1></a></li>
                                    </ul>
                                </div>
                            </li>
                        </template>
                    </ul>
                    <nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">

    <li class="page-item" v-if="prev_page">
      <a class="page-link" v-bind:href="[[ prev_page ]]" tabindex="-1">Previous</a>
    </li>

    <li class="page-item disabled" v-else>
      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
    </li>

    <!-- on click get me new page data without refreshing whole page -->
    <li class="page-item" v-for="page_num in num_of_pages"><a class="page-link" href="#">[[ page_num ]]</a></li>

    <li class="page-item" v-if="next_page">
      <a class="page-link" v-bind:href="[[ next_page ]]">Next</a>
    </li>

    <li class="page-item disabled" v-else=>
      <a class="page-link" aria-disabled="true">Next</a>
    </li>
  </ul>
</nav>
                </div>
                <div v-else>
                    <p>Loading...</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    vm = new Vue({
        delimiters: ["[[", "]]"],
        el: '#display',
        data:{
            meta: null,
            topics: null,

            /*pagination*/
            num_of_pages: null,
            prev_page: null,
            next_page: null
        },
        mounted(){
            self = this
            $.ajax({
                type: "GET",
                async:false,
                url: "{% url 'discourse:get-topics-api'%}",
                dataType: 'json',
                success: function(data){
                    self.meta = data
                    self.topics = data['results']
                    self.num_of_pages = Math.ceil(data['count'])
                }
            })
            this.prev_page = this.meta['previous']
            this.next_page = this.meta['next']
        }

    })

    setInterval(function(){
        axios.get("{% url 'discourse:get-topics-api'%}").then(response => (vm.topics = response.data))
    }, 100000);


</script>
{% endblock %}