{% extends 'base.html' %}

<!-- loading static -->


{% block static %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'discourse/css/main.css' %}">

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- loading of other resources -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css' />


{% endblock %}

{% block html %}

<div class="container-fluid" id="section_list">
        <div class="row" v-if='sections'>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" v-for='section in sections'>
                <div class="tile">
                    <div class="wrapper">
                        <div class="header">[[ section.name_of_section ]]</div>

                        <div class="banner-img">
                            <template v-if='section.image_of_section'>
                                <img src="section.image_of_section_url">
                            </template>
                            <template v-else>
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR0i9VWDdN9_Qny-LtyDcPlMlV3BcST5sKqLA&usqp=CAU">
                            </template>
                        </div>

                        <div class="dates">
                            <div class="start">
                                <strong>STARTS</strong> 12:30 JAN 2015
                                <span></span>
                            </div>
                            <div class="ends">
                                <strong>ENDS</strong> 14:30 JAN 2015
                            </div>
                        </div>

                        <div class="stats">

                            <div>
                                <strong>INVITED</strong> 3098
                            </div>

                            <div>
                                <strong>JOINED</strong> 562
                            </div>

                            <div>
                                <strong>DECLINED</strong> 182
                            </div>

                        </div>

                        <div class="stats">

                            <div>
                                <strong>INVITED</strong> 3098
                            </div>

                            <div>
                                <strong>JOINED</strong> 562
                            </div>

                            <div>
                                <strong>DECLINED</strong> 182
                            </div>

                        </div>

                        <div class="stats">

                            <div>
                                <strong>INVITED</strong> 3098
                            </div>

                            <div>
                                <strong>JOINED</strong> 562
                            </div>

                            <div>
                                <strong>DECLINED</strong> 182
                            </div>

                        </div>

                        <div class="footer">
                            <a v-bind:href="[[ section.url]]" class="Cbtn Cbtn-primary">Check it out</a>
                        </div>
                    </div>
                </div> 
            </div>

        </div>
        
        <div v-else id='loader' class="loader"></div>
    </div>

<script type="text/javascript">
    var vm = new Vue({
        delimiters: ["[[", "]]"],
        el: '#section_list',
        data: {
            sections: null,
        },
        mounted() {
            axios.get("{% url 'discourse:get-sections'%}")
            .then(response => (this.sections = response.data))
        }
    })

</script>
{% endblock %}