{% extends 'base.html' %}

<!-- loading static -->


{% block static %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'discourse/css/particular_sphere.css' %}">

<!-- loading of other resources -->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

{% endblock %}

{% block html %}

<div id='topics_main_list'>
    <div class="container" style="padding-top: 5%; align-items: center;" v-if='topics'>
        <div class="row">
            <div class="[ col-xs-12 col-sm-offset-2 col-sm-8 ]" id='display'>
                <div v-if="topics">
                    <ul class="event-list" id="event-list">
                        <template v-for="(topic, index) in topics">
                            <li id="topic" >
                                <time datetime="2014-07-20">
                                    <span class="day">[[ topic.day_of_publication ]]</span>
                                    <span class="month">[[ topic.month_of_publication ]]</span>
                                    <span class="year">2014</span>
                                    <span class="time">ALL DAY</span>
                                </time>

                                <img v-if='topic.image_url' alt="Independence Day" v-bind:src="topic.image_url"/>

                                <img v-else alt="Independence Day" src="https://image.freepik.com/free-vector/conversation-concept-illustration_114360-1102.jpg"/>

                                <div class="info">
                                    <h2 class="title">[[ topic.topic ]]</h2>
                                    <p class="desc">[[ topic.short_description ]]</p>
                                    <p class="desc">Author: [[ topic.author ]]</p>
                                    <p class="desc">Views: [[ topic.views ]]</p>
                                    <ul>
                                <li style="width:33%;" v-on:click='approved([[topic.id]], [[ index ]])'><span class="fa fa-check"></span></li>
                                <li style="width:34%;" v-on:click='disapproved([[topic.id]], [[ index ]])'><span class="fa fa-trash-o"></span></li>
                            </ul>
                                </div>
                                <div class="social">
                                    <ul>
                                        <li class="jump_button" style="width:33%;"><a v-bind:href="[[ topic.self_url ]]"><h1 id='jump_into_into_topic_icon_h'><i class="fa fa-reply-all" aria-hidden="true"></i></h1></a></li>
                                    </ul>
                                </div>
                            </li>
                        </template>
                    </ul>
                    <div v-cloak>
                        <nav aria-label="Page navigation example">
                          <ul class="pagination justify-content-center">
                            <div v-for="(page_num, index) in pages_urls">
                                <li class="page-item" v-if='pages_urls'>
                                    <span class="page-link" v-on:click="get_inf_from_page(index)">[[ index ]]</span>
                                </li>
                            </div>
                        </nav>
                    </div>
                </div>
                <div v-else id='loader'></div>
            </div>
        </div>   
    </div>
</div>

<script type="text/javascript">
    vm = new Vue({

        delimiters: ["[[", "]]"],
        el: '#display',
        data:{
            meta: null,
            topics: null,

            /*pagination*/
            first_page: null,
            count: null,
            current_page: 1,
            num_of_pages: null,
            prev_page: null,
            next_page: null,
            pages_urls: {}
        },
        mounted(){
            this.get_not_approved_topics()
            this.get_num_of_pages()
        },

        methods: {
            get_num_of_pages: function(){
                this.num_of_pages = Math.ceil(this.count / 2);
                this.pages_urls = {}
                if (this.num_of_pages > 1){
                    for (var i = 1; i <= this.num_of_pages; i++){
                        this.pages_urls[i] = this.next.slice(0,-1) + i
                    } 
                } else if (this.num_of_pages === 1){
                    this.get_not_approved_topics()
                }
                this.prev_page = this.meta['previous']
                this.next_page = this.meta['next']
            },
            get_not_approved_topics: function(){
                self = this
                $.ajax({
                    type: "GET",
                    async:false,
                    url: "{{ not_approved_topics_api }}",
                    dataType: 'json',
                    success: function(data){
                        self.meta = data
                        self.topics = data['results']
                        self.count = data['count']

                        try{
                            self.next = data['next']
                            self.first_page = data['next'].slice(0, -1) + String(1)
                        } catch (error){
                        }
                    }
                })
            },
            get_inf_from_page: function(page_num){
                if (typeof page_num === "undefined" && this.current_page == 2){
                    return 0
                }
                self = this;
                var page_num_dublicate = page_num;
                if (this.topics.length == 0){
                    this.current_page -= 1
                    page_num_dublicate = this.current_page
                }

                if (page_num != this.current_page){
                    var url = this.next_page.slice(0, -1) + String(page_num_dublicate)
                    $.ajax({
                        type: "GET",
                        async:false,
                        url: url,
                        dataType: 'json',
                        success: function(data){
                            self.current_page = parseInt(url.slice(-1))
                            self.topics = data['results']
                        }
                    })
                }
            },
            approved: function(id_of_topic, index){
                url = "{% url 'discourse:approve-topic-api' %}"
                $.ajax({
                    headers: {
                        'X-CSRFTOKEN': '{{ csrf_token }}'
                    },
                    type: "PATCH",
                    data: {'id_of_topic': id_of_topic[0][0]},
                    async:false,
                    url: url,
                    dataType: 'json',
                    success: function(data){
                        self.topics.splice(index, 1);
                        }
                })
                this.count -= 1
                this.get_num_of_pages()
                this.get_inf_from_page()
            },

            disapproved: function(id_of_topic, index){
                url = "{% url 'discourse:dispprove-topic-api' %}"

                $.ajax({
                    headers: {
                        'X-CSRFTOKEN': '{{ csrf_token }}'
                    },
                    type: "DELETE",
                    data: {'id_of_topic': id_of_topic[0][0]},
                    async:false,
                    url: url,
                    dataType: 'json',
                    success: function(data){
                        self.topics.splice(index, 1);
                    }
                })
                this.count -= 1
                this.get_num_of_pages()
                this.get_inf_from_page()
            }
        }

    })

    setInterval(function(){
        axios.get("{{ get_topics_api }}").then(response => (vm.topics = response.data))
    }, 100000);


</script>
{% endblock %}